{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <link>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <title>
      {% block title %}
        Имя не завезли :)
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      <div class="container py-5">
      {% block content %}
        Контент не подвезли :)
      {% endblock %}
      </div>
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">#}
{#    <link src="{% static 'js/bootstrap.min.js'%}">#}
{#    <script src="/static/js/bootstrap.min.js"></script>#}
{#   <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>#}
  </body>
</html>
