{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Сайт работает на:</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python==3.9
        </li>
        <li class="list-group-item">
          Django==2.2.16
        </li>
        <li class="list-group-item">
          Pillow==8.3.1
        </li>
        <li class="list-group-item">
          pytest==6.2.4
        </li>
        <li class="list-group-item">
          pytest-django==4.4.0
        </li>
        <li class="list-group-item">
          pytest-pythonpath==0.7.3
        </li>
        <li class="list-group-item">
          requests==2.26.0
        </li>
        <li class="list-group-item">
          six==1.16.0
        </li>
        <li class="list-group-item">
          sorl-thumbnail==12.7.0
        </li>
        <li class="list-group-item">
          Faker==12.0.1
        </li>
        <li class="list-group-item">
          django-debug-toolbar==3.2.4
        </li>
        <li class="list-group-item">
          gunicorn==20.1.0
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Хостинг с самой дешевой VDS с KVM-виртуализацией и Debian 11.
          512Mb оперативной памяти, 1 ядро и 5Gb места. Докеру ресурсов не хватило бы,
          поэтому всё развернуто наживую, Gunicorn + Nginx как прокси.

      </p>
    </article>
  </div>
{% endblock %} 